<!DOCTYPE html>
<html lang="en">
  <head>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Domine:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Slab' rel='stylesheet' type='text/css'>
    <!-- END FONTS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title> Ticked: Manage your TODOs, get things done! </title>
  </head>
  <body>
  <div id="wrap">
    <header id="main-header">
	  <div id="logo">
	    <h1>Ticked</h1>
	    <h2>Get things done!</h1>
	  </div>
<!-- -->
	  <div id="login">


        <form id="login-form">
	        <input type="email" id="e-mail" placeholder="E-mail" required />
	        <input type="password" id="password" placeholder="Password" required />
	        <input type="submit" value="Login" />
	        | <a href="#" class="loginout-link">New user</a>
	    </form>
	  </div>
<!--

	  <div id="login">
	    <p id="logged-in-notice">Your are logged in as vetleengesbak@gmail.com | <a href="#" class="loginout-link"> log out</a></p>
	  </div>
 -->

	  <nav id="main-nav">
        <ul>
          <li><a href="#">Frontpage</a></li>
          <li><a href="#">My TODOs</a></li>
          <li><a href="#">My Account</a></li>

        </ul>
	  </nav>
    </header>
    <section id="todos-section">

		{% for TODOs in TODOs %}
		  <article class="todo">
			<h1>{{ TODOs.headLine }}</h1>
			<p>{{ TODOs.bodyText }}</p>
			<nav class="todo-options">
			  <ul>
			    <li><a href="#" title="Click to delete this TODO">Delete</a></li>
  			    <li><a href="#" title="Click to edit this TODO">Edit</a></li>
			    <li><a href="#" title="Click to mark this TODO as done">Tick!</a></li>
			  </ul>
			</nav>
		  </article>
		{% endfor %}



    </section> <!-- todos-section -->


  </div><!-- wrap -->
  </body>
</html>
